*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
}
.custom-h1{
    color: #404040;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.484);
}
span{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.404);
}
label{
    color: #22403A;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.484);
}
.custom-input{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.404);
}
.custom-container{
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.701);
}
#bot{
    border: solid 5px rgba(128, 128, 128, 0.516);
    background-color: #404040;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.484);
}